/*== 
 * Vue.js & TailwindCSS Portfolio Main CSS File
 * Powered by: @realstoman
*/

@tailwind base;

@tailwind components;

@tailwind utilities;

/* Custom Styles Below */

body {
	font-family: 'Tajawal';
}

/* Theme Colors */

/* Fonts */
@font-face {
	font-family: 'Tajawal';
	src: url('../fonts/Tajawal-Black.ttf') format('ttf'),
		url('../fonts/Tajawal-Black.ttf') format('ttf'),
		url('../fonts/Tajawal-Black.ttf') format('ttf');
	font-weight: 200 700;
	font-display: swap;
	font-style: normal;
}

.font-general-variable {
	font-family: 'Tajawal';
}

@font-face {
	font-family: 'Tajawal';
	src: url('../fonts/Tajawal-Black.ttf') format('ttf'),
		url('../fonts/Tajawal-Black.ttf') format('ttf'),
		url('../fonts/Tajawal-Black.ttf') format('ttf');
	font-weight: 200 700;
	font-display: swap;
	font-style: italic;
}

.font-general-variable-italic {
	font-family: 'Tajawal';
}

@font-face {
	font-family: 'Tajawal';
		font-family: 'Tajawal';
	src: url('../fonts/Tajawal-Black.ttf') format('ttf'),
		url('../fonts/Tajawal-Black.ttf') format('ttf'),
		url('../fonts/Tajawal-Black.ttf') format('ttf');
	font-weight: 200;
	font-display: swap;
	font-style: normal;
}

.font-general-extralight {
	font-family: 'Tajawal';
}

@font-face {
		font-family: 'Tajawal';
	src: url('../fonts/Tajawal-Black.ttf') format('ttf'),
		url('../fonts/Tajawal-Black.ttf') format('ttf'),
		url('../fonts/Tajawal-Black.ttf') format('ttf');
	font-weight: 200;
	font-display: swap;
	font-style: italic;
}

.font-general-extralight-italic {
	font-family: 'Tajawal';
}

@font-face {
	font-family: 'Tajawal';
	src: url('../fonts/Tajawal-Black.ttf') format('ttf'),
		url('../fonts/Tajawal-Black.ttf') format('ttf'),
		url('../fonts/Tajawal-Black.ttf') format('ttf');
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}

.font-general-light {
	font-family: 'Tajawal';
}

@font-face {
		font-family: 'Tajawal';
	src: url('../fonts/Tajawal-Black.ttf') format('ttf'),
		url('../fonts/Tajawal-Black.ttf') format('ttf'),
		url('../fonts/Tajawal-Black.ttf') format('ttf');
	font-weight: 300;
	font-display: swap;
	font-style: italic;
}

.font-general-light-italic {
	font-family: 'Tajawal';
}

@font-face {
		font-family: 'Tajawal';
	src: url('../fonts/Tajawal-Black.ttf') format('ttf'),
		url('../fonts/Tajawal-Black.ttf') format('ttf'),
		url('../fonts/Tajawal-Black.ttf') format('ttf');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

.font-general-regular {
	font-family: 'Tajawal';
}

@font-face {
		font-family: 'Tajawal';
	src: url('../fonts/Tajawal-Black.ttf') format('ttf'),
		url('../fonts/Tajawal-Black.ttf') format('ttf'),
		url('../fonts/Tajawal-Black.ttf') format('ttf');
	font-weight: 400;
	font-display: swap;
	font-style: italic;
}

.font-general-italic {
	font-family: 'Tajawal';
}

@font-face {
		font-family: 'Tajawal';
	src: url('../fonts/Tajawal-Black.ttf') format('ttf'),
		url('../fonts/Tajawal-Black.ttf') format('ttf'),
		url('../fonts/Tajawal-Black.ttf') format('ttf');
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

.font-general-medium {
	font-family: 'Tajawal';
}

@font-face {
		font-family: 'Tajawal';
	src: url('../fonts/Tajawal-Black.ttf') format('ttf'),
		url('../fonts/Tajawal-Black.ttf') format('ttf'),
		url('../fonts/Tajawal-Black.ttf') format('ttf');
	font-weight: 500;
	font-display: swap;
	font-style: italic;
}

.font-general-medium-italic {
	font-family: 'Tajawal';
}

@font-face {
		font-family: 'Tajawal';
	src: url('../fonts/Tajawal-Black.ttf') format('ttf'),
		url('../fonts/Tajawal-Black.ttf') format('ttf'),
		url('../fonts/Tajawal-Black.ttf') format('ttf');
	font-weight: 600;
	font-display: swap;
	font-style: normal;
}

.font-general-semibold {
	font-family: 'Tajawal';
}

@font-face {
	font-family: 'Tajawal';
	src: url('../fonts/Tajawal-Black.ttf') format('ttf'),
		url('../fonts/Tajawal-Black.ttf') format('ttf'),
		url('../fonts/Tajawal-Black.ttf') format('ttf');
	font-weight: 600;
	font-display: swap;
	font-style: italic;
}

.font-general-semibold-italic {
	font-family: 'Tajawal';
}

@font-face {
		font-family: 'Tajawal';
	src: url('../fonts/Tajawal-Black.ttf') format('ttf'),
		url('../fonts/Tajawal-Black.ttf') format('ttf'),
		url('../fonts/Tajawal-Black.ttf') format('ttf');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

.font-general-bold {
	font-family: 'Tajawal';
}

@font-face {
	font-family: 'Tajawal';
	src: url('../fonts/Tajawal-Black.ttf') format('ttf'),
		url('../fonts/Tajawal-Black.ttf') format('ttf'),
		url('../fonts/Tajawal-Black.ttf') format('ttf');
	font-weight: 700;
	font-display: swap;
	font-style: italic;
}

.font-general-bold-italic {
	font-family: 'Tajawal';
}

/* Active class for navigation menu */
.router-link-active,
.router-link-exact-active {
	@apply text-indigo-800;
	@apply text-indigo-600 dark:text-indigo-300;
}
